{% extends 'index.html' %}
{% load static %}
<!--Para que herede todo de index.html -->

{% block titulo %} Nuevo Registro {% endblock titulo %}

{% block menu %}{% endblock menu %}
{% block contentTitulo %}{% endblock contentTitulo %}
{% block conteiner %}

  <div class="card card-primary">
    <div class="card-header">CREAR REGISTRO</div>
    <form id="formRegistro" method="POST">
      <div class="card-body card-block col-12 col-lg-10">
        {% csrf_token %}
        {% if error %}
          <h2>{{ error }}</h2>
        {% else %} 
          <div class="row">
            <div class="col-6">
              <div class="form-group {% if form.proyecto_servicio.errors %}has-error{% endif %}">
                <label class="control-label font-weight-bold" for="{{ form.proyecto_servicio.auto_id }}"> {{ form.proyecto_servicio.label }}: </label>
                <select name="proyecto_servicio" class="form-control select2 proyectoRegistro" required="" id="id_proyecto_servicio"  tabindex="-1" aria-hidden="true">
                  <option value=""></option>
                  {% for sp in serviciosProyecto %}
                    <option value="{{ sp.id }}">{{ sp }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group {% if form.alumno.errors %}has-error{% endif %}">
                <label class="control-label font-weight-bold" for="{{ form.alumno.auto_id }}"> {{ form.alumno.label }}: </label>
                {{ form.alumno }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary mt-4">Crear</button>
        <a href="/" class="btn btn-secondary mt-4">Cancelar</a> 
      </div>
    </form>
  </div>    
    
{% endblock conteiner %}

{% block extrasjs %}
<script>
  vaciarCombo(document.getElementById('id_alumno'));
</script>
{% endblock extrasjs %}
