{% extends 'index.html' %}
{% load static %}
<!--Para que herede todo de index.html -->

{% block titulo %} Nuevo Registro {% endblock titulo %}

{% block contentTitulo %}{% endblock contentTitulo %}
{% block conteiner %}

  <div class="card card-secondary">
    <div class="card-header">CREAR REGISTRO</div>
    <form id="formRegistro" method="POST">
      <div class="card-body card-block col-12 col-lg-10">
        {% csrf_token %}
        {% if error %}
          <h2>{{ error }}</h2>
        {% else %} 
          {% comment %} FECHA INICIO FIN {% endcomment %}
          <input type="hidden" name="fechaHoraInicio" id="fInicio" />
          <input type="hidden" name="fechaHoraFin" id="fFin" />
          
          <div class="form-group ">
            <label class="control-label font-weight-bold " >Fecha de inicio y fin de tutoría: </label>
            <input class="reservationtime form-control" name="fechaHora" >
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group {% if form.estudiante.errors %}has-error{% endif %}">
                <label class="control-label font-weight-bold" for="{{ form.estudiante.auto_id }}"> {{ form.estudiante.label }}: </label>
                {{ form.estudiante}}
              </div>
            </div>
            <div class="col-6">
              <div class="form-group {% if form.servicio.errors %}has-error{% endif %}">
                <label class="control-label font-weight-bold" for="{{ form.servicio.auto_id }}"> {{ form.servicio.label }}: </label>
                {{ form.servicio}}
              </div>
            </div>
          </div>
          <div class="form-group {% if form.comentario.errors %}has-error{% endif %}">
            <label class="control-label font-weight-bold" for="{{ form.comentario.auto_id }}"> {{ form.comentario.label }}: </label>
            {{ form.comentario}}
          </div>
        {% endif %}
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary mt-4">Crear</button>
        <a href="#" class="btn btn-secondary mt-4">Cancelar</a> 
      </div>
    </form>
  </div>    
    
{% endblock conteiner %}

{% block extrajs %}
  {% comment %} $('#fInicio').val()=datetime.strptime(fechaHoraInicio,'%Y-%m-%d %I-%M-%S %p')
  $('#fFin').val()=datetime.strptime(fechaHoraFin,'%Y-%m-%d %I:%M:%S %p') {% endcomment %}
{% endblock extrajs %}