{% extends 'index.html' %}
{% load static %}
<!--Para que herede todo de index.html -->

{% block titulo %} Detalle Registro Hs {% endblock titulo %}

{% block contentTitulo %}
<div class="info-box">
    <span class="info-box-icon bg-info my-2"><i class="fas fa-users"></i></span>
    <div class="info-box-content">
        <span class="info-box-number">{{ registro.proyecto_servicio }}</span>
        <span class="info-box-text">ALUMNO: {{ registro.alumno }} </span>
    </div>
</div>
{% endblock contentTitulo %}

{% block conteiner %}

  <div class="card card-primary">
    <div class="card-header">CREAR REGISTRO</div>

    <form id="formRegistro" method="POST">

      <div class="card-body card-block col-12">
        <div class="row">
          <div class="text-center col-12">
            <small class="badge badge-warning px-2 py-3 mt-mb-3 mb-3" style="font-size: 0.8rem;"><label class="mb-0">Elija una de las dos opciones para crear <br class="d-md-none d-flex"> el registro de horas.</label></small>
          </div>
        </div>

        {% csrf_token %}
        {% if error %}
          <h2>{{ error }}</h2>
        {% else %} 
        
          {% comment %} FECHA INICIO FIN {% endcomment %}
          <input type="hidden" name="fechaHoraInicio" id="fInicio" />
          <input type="hidden" name="fechaHoraFin" id="fFin" />
        
          <div class="row">
            {% comment %} Registro manual {% endcomment %}
            <div class="form-group col-12 col-md-6 text-center registro-manual">
              <label class="control-label font-weight-bold" >Fecha de inicio y fin de tutoría: </label>
              <input class="reservationtime form-control mx-auto w-75" name="fechaHora" >

              <button type="submit" class="btn btn-primary mt-4" id="crearRegistro" >Crear</button>
              {% comment %} <a href="#" class="btn btn-secondary mt-4" >Cancelar</a> {% endcomment %}
            </div>

            {% comment %} Registro cronometro {% endcomment %}
            <div class="text-center item col-12 col-md-6">
              <label>Crónometro:</label>
              <div class="countup" id="countup1">
                <span id="hour" class="timeel hours">00</span>
                <span class="timeel timeRefHours">horas</span>
                <span id="min" class="timeel minutes">00</span>
                <span class="timeel timeRefMinutes">minutos</span>
                <span id="sec" class="timeel seconds">00</span>
                <span class="timeel timeRefSeconds">segundos</span>
              </div>
              <div class=" row">
                <div class="col-6 d-flex justify-content-end">
                  <button type="button" class="btn btn-primary timer_button" id="start_button"><i class="fa fa-clock-o" aria-hidden="true"></i> Iniciar</button>
                </div>
                <div class="col-6 d-flex justify-content-start">
                  <button class="btn btn-success timer_button" id="timer_submit" data-toggle="tooltip" data-placement="bottom" title="Al parar el cronómetro se creará el registro con los minutos contados hasta el momento.">
                    <i class="fa fa-stop-circle" aria-hidden="true"></i> Stop
                  </button>
                </div>
              </div>
              {% comment %} <div class="row">
                <div class="col-auto mx-auto pt-4">
                  <h1> 
                    <div id="total_time" ></div> 
                  </h1>
                </div>
              </div> {% endcomment %}
            </div>
          </div><!-- /row -->
          
        {% endif %}
      </div>
      <div class="card-footer"></div>
    </form>
  </div>    

  <!-- Listado -->
  <div class="table-stats order-table ov-h table-responsive">
    {% if registrosDet %}
      <table id="tablaDetalleRegistro" class="table table-bordered table-hover dataTable table-head-fixed text-nowrap bg-white">
          <thead class="text-center bg-header-tabla">
              <tr>
                  <th class="">FECHA INICIO</th>
                  <th class="">FECHA FIN</th>
                  <th class="">CANTIDAD HS</th>
                  <th class=""></th>
              </tr>
          </thead>
          <tbody>

              {% for det in registrosDet %}
              <tr class="text-center">
                  <td>{{ det.fechaHoraInicio | date:"d-m-Y h:i a" }}</td>
                  <td>{{ det.fechaHoraFin | date:"d-m-Y h:i a" }}</td>
                  <td>{{ det.calcular_total_hs_detalle }}</td>

                  <td>
                      {% comment %} <a class="btn btn-primary btn-sm" href="{% url 'venta:editarDetalle' det.id %}" rel="editar"><icon class="fas fa-fas fa-pencil-alt"></icon></a> {% endcomment %}
                      <a class="btn btn-danger btn-sm" rel="eliminar" href="#" onClick="eliminarRegistro({{ det.id }}, '../eliminarRegistroDetalle/')" ><icon class="fa fa-trash"></icon></a> 
                  </td>
              </tr>
              {% endfor %}

          </tbody>
          <tfoot>
              <tr>
                  <td></td>
                  <td class="text-right text-bold"> TOTAL:</td>
                  <td class="text-right text-bold text-center bg-gris-claro"> {{ registro.calcular_total_horas_por_alumno }} </td>
              </tr>
          </tfoot>
      </table>
    {% else %}
      <h3 class="pl-2">No existen Horas registradas.</h3>
    {% endif %}
  </div>
    
{% endblock conteiner %}

{% block extrajs %}
<script>
  
</script>
{% endblock extrajs %}
