{% load static %}

<!-- Navbar -->
{% comment %} <nav class="navbar  navbar-white navbar-light border-bottom"> {% endcomment %}
<header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
    <!-- Brand Logo -->
    <a href="/" class="brand-link link-logo">
        <img src="{% static 'img/logo.png' %}" alt="Logo Wioa" class="brand-image" style="opacity: .8">
    </a>
    <br class="d-none d-md-inline">
    <!-- Right navbar links -->
    <ul class="nav nav-pills align-self-center" id="opciones"> 
        <li class="nav-item d-sm-inline-block" style="margin-top: 2px;">
            <p class="nav-link m-0">USUARIO: <b style="font-family: 'Gilroy-ExtraBold';">{{ user.username | upper }}</b></p>
        </li>   
        {% if user.is_staff %}
        <div class="linea-gris"></div>
            <li class="nav-item d-sm-inline-block">
                <a href="{% url 'admin:index' %}" target="_blank" class="nav-link"><p class="texto-session">ADMINISTRACIÓN</p> <i class="fa fa-cog icono-menu" ></i></a>
            </li>
        {% endif %}
        <div class="linea-gris"></div>
        <li class="nav-item d-sm-inline-block">
            <a class="nav-link" href="{% url 'logout' %}"><p class="texto-session">CERRAR SESIÓN</p>  <i class="fa fa-power-off icono-menu" style="color: #c0272d;"></i></a>
        </li>
    </ul>
</header>
<!-- /.navbar -->